.feature {
  text-align: center;

  @include breakpoint-up(medium) {
    text-align: center;
  }

  &__intro {
    margin-bottom: 3.75rem;

    >h2 {
      font-size: 2.4rem;
      font-weight: 900;
      color: $dark;
      margin-bottom: 1.25rem;
      text-align: left;
    }

    >h2 span {
      font-size: 2.25rem;
      font-weight: 900;
      color: $blue;
      margin-bottom: 1.25rem;
    }



    @include breakpoint-up(large) {
      width: 60%;
    }
  }

  &__informatique {

    @include breakpoint-down(medium) {
      width: 100% !important;
    }

    background-image: linear-gradient(rgba(41, 230, 34, 0.5), rgba(0, 255, 98, 0.747)),
    url("https://bensaadmucret.github.io/nsa/images/bg-informatique.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }

  &__gouvernance {

    background-image: linear-gradient(rgba(35, 113, 147, 0.5), rgba(35, 113, 147, 0.747)),
      url("https://bensaadmucret.github.io/nsa/images/bg-informatique.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }

  &__securite {
    background-image: linear-gradient(rgba(247, 107, 100, 0.5), rgba(248, 91, 131, 0.747)),
      url("https://bensaadmucret.github.io/nsa/images/bg-informatique.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }

  &__formation {
    background-image: linear-gradient(rgba(96, 68, 147, 0.5), rgba(127, 97, 181, 0.747)),
      url("https://bensaadmucret.github.io/nsa/images/formation.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    font-size: 2rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;



    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }

  &__recrutement {
    background-image: linear-gradient(rgba(44, 220, 228, 0.5), rgba(66, 253, 218, 0.747)),
      url("https://bensaadmucret.github.io/nsa/images/bg-informatique.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }

  &__mentorat {
    background-image: linear-gradient(rgba(254,173,30, 0.5), rgba(246,80,28, 0.747)),
      url("https://bensaadmucret.github.io/nsa/images/formation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    color: white;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;


    >.feature__title {
      color: white;
    }

    >.feature__hr {
      border-top: 3px solid #ffffff;
    }

    >.feature__plus>a {
      visibility: visible;

    }
  }



  &__hr {
    width: 100%;
    border: 0;
    border-top: 3px solid $dark;
    margin-bottom: 0.75rem;
  }

  &__grid {

    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
      height: 100%;


    @include breakpoint-up(medium) {
      flex: 0 0 50%;

    }

    @include breakpoint-up(large) {
      flex: 1;

    }
  }


  &__title {
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.15;
    color: $dark;
    margin-bottom: 1rem;



    @include breakpoint-up(large) {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
  }

  &__plus {


    >a {
      visibility: hidden;
      padding: 1.25rem 2.5rem;
      font-size: $font-sm;
      font-weight: 400;
      line-height: 1.15;
      color: white;
      text-decoration: underline;
      transition: 300ms ease-in-out;
    }


  }

}